<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>
<title>Home</title>

<body class="container">

    <%- include("../partials/header"); %>

    <div class="jumbotron">
        <h1>Cadastro</h1>
        <p>Adicione as informações solicitadas abaixo: </p>
    </div>

    <form>
        <!-- Name input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1" name="email">Nome</label>
            <input type="email" id="form2Example1" class="form-control" name="nome"/>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1" name="email">Email</label>
            <input type="email" id="form2Example1" class="form-control" name="email"/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4" class="col-auto">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" id="form2Example2" class="form-control " name="password"/>
        </div><br>

        <!-- Submit button -->
        <button type="submite" class="btn btn-primary btn-block mb-4">Cadastrar</button>
    </form>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>