<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head'); %>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Home</h1>
            <p>Esta é a página inicial</p>
            <button><a class="nav-link" href="/logout">Logout</a></button>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>